<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="./home.css" />

    <title>Home page for testing gpt app</title>
  </head>
  <body>
    <div class="container">
      <div class="query-result"></div>
      <div class="area-search">
        <textarea
          class="textarea is-info is-large textarea-cubic"
          placeholder="Type here to get data from chat-gpt..."
          rows="2"
        ></textarea>
        <button type="button" class="button">Send</button>
      </div>
    </div>
  </body>
  <script src="./home.js"></script>
</html>
